

services:
  backend:
    build: .
    container_name: devburger-backend
    ports:
      - "3001:3001"
    env_file:
      - .env
    depends_on:
      - mongo
      - postgres
    volumes:
      - .:/app
    command: yarn dev

  mongo:
    image: mongo:6
    container_name: devburger-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  postgres:
    image: postgres:16
    container_name: devburger-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${PG_USERNAME}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  mongo_data:
  postgres_data:
